---
import ProjectLink from "../components/ProjectLink.astro";
import TagBadge from '../components/TagBadge.astro'
const PROJECTS = [
   {
      name: 'Profedex',
      description: 'Profedex is a full-stack web application that allows students from Instituto Tecnológico de Durango to rate their teachers. I enjoyed working on this project because it was my first time building a full-stack application from scratch. Solving the challenges like the authentication, the rating system, and the search functionality was a great learning experience.',
      image: 'projects/profedex.webp',
      url: 'https://profedex.vercel.app/',
      tags: [
         {
            name: 'Next.JS',
            class: 'bg-blue-900 border-blue-600 text-white',
         },
         {
            name: 'Turso DB',
            class: 'bg-green-500 border-green-500 text-green-100',
         },
         {
            name: 'Resend',
            class: 'bg-purple-500 border-purple-500 text-purple-100',
         },
         {
            name: 'TypeScript',
            class: 'bg-blue-500 border-blue-500 text-blue-100',
         }
      ]
   },
   {
      name: 'MiniMentes',
      description: 'MiniMentes is a mobile application focused on helping children to learn and develop mathematical and language skills.',
      image: 'projects/minimentes.webp',
      github: 'https://github.com/esalu-dev/url-shortener-react',
      tags: [
         {
            name: 'Flutter',
            class: 'bg-blue-500 border-blue-500 text-blue-100',
         },
         {
            name: 'Dart',
            class: 'bg-cyan-500 border-cyan-500 text-cyan-100',
         },
         
      ]
   },
   {
      name: 'Resistance Calculator',
      description: 'Resistance Calculator is a mobile application that allows users to calculate the resistance of a resistor based on the color bands.',
      image: 'projects/cal_resistencia.webp',
      github: 'https://github.com/esalu-dev',
      tags: [
         {
            name: 'Flutter',
            class: 'bg-blue-500 border-blue-500 text-blue-100',
         },
         {
            name: 'Dart',
            class: 'bg-cyan-500 border-cyan-500 text-cyan-100',
         },
         
      ]
   }
]
---

<div>
   {
      PROJECTS.map(project => (
         <article class="py-3">
            <img src={ project.image } alt={ project.name } class="rounded-lg"/>
            <div class="flex items-center justify-between">
               <h3 class="sm:text-xl text-lg text-esalu-green-200 font-bold py-3">{ project.name }</h3>
               <div class="flex flex-wrap justify-end">
                  {
                     project.tags.map(tag => (
                        <TagBadge class={tag.class}>{tag.name}</TagBadge>
                     ))
                  }   
               </div>
            </div>
            <p class="font-Onest text-woodsmoke-100 text-sm text-pretty mb-5">{ project.description }</p>
            {
               project.url && (
                  <ProjectLink link={project.url}>View</ProjectLink>
               
               )
            }
            {
               project.github && (
                  <ProjectLink link={project.github} github={true}>GitHub</ProjectLink>
               )
            }
         </article>
      ))
   }
</div>